/* chat.css */
.main-chat {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
}

.chat-container {
  flex: 1;
  margin-top: 150px;
  display: flex;
  height: calc(100% - 50px);
}

.chat-list {
  width: 50%;
  max-height: 50%;
  border-right: 1px solid #ccc;
  overflow-y: auto;
}

.chat-item {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

.chat-item:hover {
  background-color: #f0f0f0;
}

.chat-avatar {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border-radius: 50%;
  margin-right: 10px;
}

.chat-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chat-name {
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chat-message {
  color: #555;
}

.chat-time {
  color: #aaa;
  font-size: 12px;
}

.mypage-button {
  display: flex;
  align-items: center;
  margin-right: 80px;
}

.loginBtn {
  background-color: white;
  color: #00356d;
  padding: 7px 14px;
  border: none;
  border-radius: 5px;
  margin-right: 20px;
  cursor: pointer;
}

.chat-window {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  max-height: 50%;
}

.chat-message {
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 300px;
  overflow-wrap: break-word;
  word-break: break-word;
}

.chat-message.other {
  background-color: #f1f1f1;
  align-self: flex-start;
}

.chat-message.me {
  background-color: #007bff;
  color: white;
  align-self: flex-end;
}

.message-text {
  margin-bottom: 5px;
}

.message-time {
  font-size: 12px;
  color: #aaa;
  text-align: right;
}
