@font-face {
    font-family: "Oswald";
    src: url("../../assets/Oswald-VariableFont_wght.ttf");
}

.HeadBar{
    position: fixed;
    top: 1px;
    left: 1px;
    background: linear-gradient(to right, #0F0F0F, #5873E1);
    width: 100%;
    z-index: 1020;

    padding: 25px 30px;
    height: 80px;
}

.HeadBar .menu_bar {
    float: left;
    margin-top: 20px;
    color: whitesmoke;
    margin-left: 10px;
    width: 60px;
    height: 60px;
}

.HeadBar .logo {
    font-family: "Oswald";
    color: whitesmoke;
    font-size: 50px;
    font-weight: bold;
    float: left;
    margin-top: -77.5px;
    margin-left: -60px;
}

.HeadBar .profile_img_div {
    float: right;
    margin-right: 20px;
    margin-top: 10px;
    border-radius: 10px;

}

.HeadBar .profile_img_div .profile_img {
    width: 60px;
    height: 60px;
    background-color: slategray;
    border-radius: 10px;
}

.HeadBar .chat_btn {
    float: right;
    margin-right: 60px;
    margin-top: 10px;
    width: 60px;
    height: 60px;
    border-radius: 10px;
}