.container {
  /* hhy 이하 3줄 추가 및 2줄 주석처리 */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 50px;
  margin-left: 10%; */
  text-align: center;
  width: 80%;
}

.container div {
  margin-bottom: 10px;
}

.tt {
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: 600;
  margin-top: 65px; /* hhy 추가 */
}

.gray_font {
  font-size: 16px;
  color: #999;
  margin-top: 70px;
}

.gray_font2 {
  font-size: 16px;
  color: #999;
}

/* .sub_title {
  font-size: 16px;
  color: #999;
} */

.option-container {
  margin-top: 50px;
}

.form_label {
  /* position: relative;
  left: 150px; */
  font-weight: 500;
  margin-bottom: 5px;
  font-size: 20px;
  border-radius: 5px;
  margin-left: 10px;
}

.btn_div {
  text-align: left;
  /*margin-left: 3%;*/
}

.regi5_btn {
  background-color: #ffffff;
  color: #000000;
  padding: 8px 16px;
  border: 1px solid ghostwhite;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  width: 100px;
  margin: 3px 10px;
}

.regi5_btn:hover {
  background-color: #1d4289;
  color: whitesmoke;
}

.regi5_btn_selBtn {
  background-color: #1d4289;
  color: whitesmoke;
  border: none;

  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  width: 100px;
  margin: 3px 10px;
}

.before_btn {
  position: fixed;
  bottom: 50px;
  left: 40px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #1d4289;
  color: white;
  font-size: 20px;
  font-weight: 300;
}

.after_btn {
  position: fixed;
  bottom: 50px;
  right: 40px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #1d4289;
  color: white;
  font-size: 20px;
  font-weight: 300;
}

.after_btn:hover {
  background-color: white;
  color: #1d4289;
}

.before_btn:hover {
  background-color: white;
  color: #1d4289;
}

/* 1~5단계 프로그레스 막대 */
.progress-line5 {
  position: relative;
  width: 500px;
  height: 4px;
  background-color: #cccccc;
  margin-top: 40px;
  left: 100px;
}

.progress-circle5 {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #00356d;
  top: -13px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
}

.progress-circle5:last-child {
  background-color: #00356d; /* 마지막 동그라미의 색상 */
  left: calc(100%); /* 두 번째 동그라미의 위치 */
}

.progress-circle:last-child::after {
  content: "5"; /* 마지막 동그라미에 텍스트 추가 */
}

.up_form {
  text-align: center;
}

/* body {
  align-items: unset;
  margin-top: 130px;
} */

.pro_bar_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pro_bar_container .pro_bar {
  width: 400px;
  height: 3px;
  background-color: #cccccc;
}

.pro_bar_container .circle5 {
  color: white;
  background-color: #1d4289;
  width: 30px;
  height: 30px;
  align-content: center;
  border-radius: 100%;
  text-align: center;
}
