.container {
  margin-top: 50px;
  margin-left: 10%;
  text-align: center;
  width: 80%;
}

.container div {
  margin-bottom: 10px;
}

.tt {
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: 600;
}

.gray_font {
  font-size: 20px;
  margin-bottom: 10px;
  color: #888888;
}

.sub_title {
  position: relative;
  font-size: 15px;
  margin-bottom: 10px;
  font-weight: 600;
}

.form_label {
  position: relative;
  left: 150px;
  font-weight: 500;
  margin-bottom: 5px;
  font-size: 20px;
  border-radius: 5px;
  width: 300px;
  text-align: left;
}

.btn_div {
  text-align: left;
  margin-left: 140px;
}

.regi5_btn {
  background-color: #ffffff;
  color: #000000;
  padding: 8px 16px;
  border: 1px solid ghostwhite;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  width: 100px;
  margin: 3px 10px;
}

.regi5_btn:hover {
  background-color: #1d4289;
  color: whitesmoke;
}

.regi5_btn_selBtn {
  background-color: #1d4289;
  color: whitesmoke;
  border: none;

  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  width: 100px;
  margin: 3px 10px;
}

.before_btn {
  position: fixed;
  bottom: 50px;
  left: 40px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: white;
  border: 1px solid darkgray;
  font-size: 20px;
  font-weight: 300;
}

.after_btn {
  position: fixed;
  bottom: 50px;
  right: 40px;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: white;
  border: 1px solid darkgray;
  font-size: 20px;
  font-weight: 300;
}

.after_btn:hover {
  background-color: #1d4289;
  color: white;
}

.before_btn:hover {
  background-color: #1d4289;
  color: white;
}

/* 1~5단계 프로그레스 막대 */
.progress-line {
  position: relative;
  width: 500px;
  height: 4px;
  background-color: #00356d;
}

.progress-circle {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #00356d;
  top: -13px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
}

.progress-circle:last-child {
  background-color: #00356d; /* 마지막 동그라미의 색상 */
  right: 0; /* 다섯 번째 동그라미의 위치 */
}

.progress-circle:last-child::after {
  content: "5"; /* 마지막 동그라미에 텍스트 추가 */
}
